.wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;  
  
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  
  font-weight: normal;
}

.wrapper > * {
  
  flex: 1 100%;
}


body {
    background-color: #C2936B; 
    margin: 5em;  
}

h2 {
    background-color: white;
    font-family: Lucida Fax Demibold, sans-serif;
    text-align:left;
    color: #590A00;
    margin: 0;
    padding: 1em;
    border-bottom: double 6px #C2936B; 

}

.recipe_header {
    background-color: white;
    text-align: center;
}

h1 {
    color: #590A00;
    margin:0;
    padding: 0.5em 0;
}

.ingredients {
    background-color: white;
    text-align: left;
    padding-left: 1em;
    flex: 1.5


}
.instructions {
 background-color: white;
 text-align: left;
    flex: 2

}

h3 {
text-align: center;
}

.main {
    display: flex;

}

.main > div {
    padding: 20px;
}


@media all and (min-width: 600px) {
  .aside { flex: 1 auto; }
}

@media all and (min-width: 800px) {
  .main    { flex: 3 0px; }
  .aside-1 { order: 1; } 
}
